/*Header of Website name*/

.navbar-header {
    text-transform: uppercase;
}


#navigation {
    margin: auto;
    padding: 20px;

}

/*Below rules are applied to the background image used throughout the website*/
#beach {
    background-attachment: fixed;
    background-image: url('../images/beach.jpg');
    margin: auto;
    background-position: bottom;
    padding-bottom: 10%;
}

/*Image used to direct user to the contact html*/
.contact {
    display: block;
    margin: auto;
    width: 50%;

}

/*Image used to direct user to the destination html*/
.destination {
    display: block;
    margin: auto;
    width: 50%;

}

/*Heading 3 */
h3 {
    color: snow;
    font-weight: bold;
    text-align: center;
}

/* Paragraph*/
p {
    color: snow;
    text-align: center;
    font-weight: bold;
}

/* Table that displays the list of hotels from Google Maps on destination html */
.table {
    align-items: center;
    background: snow;
}

/*Google Maps*/
#map {
    min-height: 360px;


}

/*Search bar in destination html used to search for hotels in cities on Google Maps */
.hotel-search {
    text-align: center;

}

/*Dropdown of 5 countries,Spain,Italy,Thailand.Mexico and Turkey */
#country,
#autocomplete {
    width: 25%;
    text-align: center;
}

/* Image used in the InforWindow of Google maps */
.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}

/* Same as .placeIcon rule */
.hotelIcon {
    width: 24px;
    height: 24px;
}

/* Table below Google Maps to display list of hotels */
#resultsTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;

}

/* 5 stars rating of each hotel in the InfoWindow */
#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

/* InfoWindow*/
.iw_table_row {
    height: 18px;
}

/* InfoWindow */
.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

/* InfoWindow */
.iw_table_icon {
    text-align: right;
}


#findhotels {
    font-size: 14px;
}

/* My Contact details */
footer {
    background-color: dodgerblue;
    color: snow;
    text-align: center;
    padding-bottom: 5%;
}

/* Social Media icons */
.social-links li a i {
    color: #fafafa;
    background: #8f8f8f;
    font-size: 25px;
}

/* Changes the color of the social media links when moused over */
.social-links li a i:hover {
    color: darkorange;
    background: #8f8f8f;
}

/* Images displayed in slideshow */
.icon {
    display: block;
    margin: auto;
    width: 50%;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;

    padding: 16px;

    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;

}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Changes background color of dot when moused over */
.active,
.dot:hover {
    background-color: #717171;
}

/* IDs of each data fields in the contact form */
#name,
#email,
#hotel,
#people {
    display: block;
    margin: auto;
    width: 50%;

}

/* Labels in the contact form */
label {
    width: 50%;
    display: block;
    margin: auto;
    color: white;
}

/* Comment box */
#comment {
    display: block;
    margin: auto;
    width: 50%;
    height: 100px;
}