/*Header of Website name*/

.navbar-header {
    text-transform: uppercase;
}


#navigation {
    margin: auto;
    padding: 20px;

}

#beach {
    background-attachment: fixed;
    background-image: url('../images/beach.jpg');
    margin: auto;
    background-position: bottom;
}

.contact {
    display: block;
    margin: auto;
    width: 225px;

}

.destination {
    display: block;
    margin: auto;
    width: 225px;

}

.slideshow p, 
.slideshow h3
 {
    color: coral;
    text-align: center;
    font-weight: bold;
}

h3 {
    color: snow;
    font-weight: bold;
    text-align: center;
}

p {
    color: snow;
    text-align: center;
    font-weight: bold;
}


.table {
    align-items: center;
    background: snow;
}

/*Google Maps*/
div#map {
    min-height: 360px;
}

.hotel-search {
    text-align: center;

}

#country,
#autocomplete {
    width: 100%;
    text-align: center;
}

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}

.hotelIcon {
    width: 24px;
    height: 24px;
}

#resultsTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;

}

#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}


#findhotels {
    font-size: 14px;
}

footer {
    background-color: dodgerblue;
    color: snow;
    text-align: center;
    padding-bottom: 1%;
}

.social-links li a i {
    color: #fafafa;
    background: #8f8f8f;
    font-size: 25px;
}

.social-links li a i:hover {
    color: darkorange;
    background: #8f8f8f;
}

.icon {
    display: block;
    margin: auto;
    width: 220px;
}