/*Header of Website name*/


.navbar-fixed-top .container {
    text-align: center;
    margin-right: 5%;
    margin-top: 5%;
}

.navbar-header {

    position: absolute;
    display: block;
    text-transform: uppercase;
    background: transparent;
}

.navbar-brand {
    padding-right: 20px;
    line-height: 44px;
}

.navbar-brand:hover {
    color: #564F6F;
    text-decoration: none;
}

#navigation {
    margin: auto;
    padding: 20px;

}

#beach {
    background-attachment: fixed;
    background-image: url('../images/beach.jpg');
    background-position: bottom;
    margin: auto;
}

.icon {
    display: block;
    margin: auto;
    width: 300px;
    padding: 20px;
}

.title {
    text-align: center;
    font-weight: bold;
}

.table {
    align-items: center;
    background: snow;
}

/*Google Maps*/
#map {
    min-height: 400px;
     min-width: 400px;
}
.hotel-search{
    text-align: center;

}
#country, #autocomplete{
    width: 100%;
     text-align: center;
}
.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

.hotelIcon {
  width: 24px;
  height: 24px;
}
#resultsTable {
  border-collapse: collapse;
  width: 240px;
}

#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}

.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}


#findhotels {
  font-size: 14px;
}

